In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('dementia_dataset (374 records, needs cleaning).csv')

#### Data preprocessing

In [3]:
# Import the necessary module
from ydata_profiling import ProfileReport

# Create a ProfileReport object
report = ProfileReport(df)

# Generate the data profiling report
report.to_file('data_profiling_report.html')

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [5]:
# remove column hand
df = df.drop(columns=['Hand'])

In [9]:
# percentage of null in SES
df['SES'].isnull().sum()/len(df['SES']) * 100

5.093833780160858

In [10]:
# impute the null values in SES with the mean
df['SES'] = df['SES'].fillna(df['SES'].mean())

In [12]:
# drop the null values in MMSE
df = df.dropna(subset=['MMSE'])

In [13]:
df.isnull().sum()

Subject ID    0
MRI ID        0
Group         0
Visit         0
MR Delay      0
M/F           0
Age           0
EDUC          0
SES           0
MMSE          0
CDR           0
eTIV          0
nWBV          0
ASF           0
dtype: int64

In [15]:
df.shape

(371, 14)

In [19]:
# encode M/F column to 0/1
df['M/F'] = df['M/F'].replace({'M': 0, 'F': 1})

In [21]:
# check all the columns in df and convert all the int columns to float
for col in df.columns:
    if df[col].dtype == 'int64':
        df[col] = df[col].astype('float64')

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 371 entries, 0 to 372
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Subject ID  371 non-null    object
 1   MRI ID      371 non-null    object
 2   Group       371 non-null    object
 3   Visit       371 non-null    float64
 4   MR Delay    371 non-null    float64
 5   M/F         371 non-null    float64
 6   Age         371 non-null    float64
 7   EDUC        371 non-null    float64
 8   SES         371 non-null    float64
 9   MMSE        371 non-null    float64
 10  CDR         371 non-null    float64
 11  eTIV        371 non-null    float64
 12  nWBV        371 non-null    float64
 13  ASF         371 non-null    float64
dtypes: float64(11), object(3)
memory usage: 43.5+ KB

In [24]:
df = df.drop(columns=['Subject ID', 'MRI ID'])

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 371 entries, 0 to 372
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Group     371 non-null    object
 1   Visit     371 non-null    float64
 2   MR Delay  371 non-null    float64
 3   M/F       371 non-null    float64
 4   Age       371 non-null    float64
 5   EDUC      371 non-null    float64
 6   SES       371 non-null    float64
 7   MMSE      371 non-null    float64
 8   CDR       371 non-null    float64
 9   eTIV      371 non-null    float64
 10  nWBV      371 non-null    float64
 11  ASF       371 non-null    float64
dtypes: float64(11), object(1)
memory usage: 37.7+ KB