### UDsb1 Physical Eval

#### Preprocessing

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("OASIS3_UDSb1_physical_eval.csv")

In [3]:
# # Import the necessary module
# from ydata_profiling import ProfileReport

# # Create a ProfileReport object
# report = ProfileReport(df)

# # Generate the data profiling report
# report.to_file('oasis_3_report.html')

In [4]:
df.isnull().sum()

OASISID                   0
OASIS_session_label       0
days_to_visit             0
age at visit              0
WEIGHT                 1003
HEIGHT                 1763
BPSYS                  1027
BPDIAS                 1034
HRATE                  1859
VISION                 1848
VISCORR                1850
VISWCORR               3159
HEARING                1849
HEARAID                1858
HEARWAID               7442
dtype: int64

In [5]:
df.shape

(8626, 15)

In [6]:
df.drop('HEARWAID', axis=1, inplace=True)

In [7]:
# impute the missing values to the mean of the column
df.fillna(df.mean(), inplace=True)

C:\Users\Ananya\AppData\Local\Temp\ipykernel_26416\3216825617.py:2: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.fillna(df.mean(), inplace=True)

In [8]:
df.isnull().sum()

OASISID                0
OASIS_session_label    0
days_to_visit          0
age at visit           0
WEIGHT                 0
HEIGHT                 0
BPSYS                  0
BPDIAS                 0
HRATE                  0
VISION                 0
VISCORR                0
VISWCORR               0
HEARING                0
HEARAID                0
dtype: int64

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8626 entries, 0 to 8625
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   OASISID              8626 non-null   object
 1   OASIS_session_label  8626 non-null   object
 2   days_to_visit        8626 non-null   int64
 3   age at visit         8626 non-null   float64
 4   WEIGHT               8626 non-null   float64
 5   HEIGHT               8626 non-null   float64
 6   BPSYS                8626 non-null   float64
 7   BPDIAS               8626 non-null   float64
 8   HRATE                8626 non-null   float64
 9   VISION               8626 non-null   float64
 10  VISCORR              8626 non-null   float64
 11  VISWCORR             8626 non-null   float64
 12  HEARING              8626 non-null   float64
 13  HEARAID              8626 non-null   float64
dtypes: float64(11), int64(1), object(2)
memory usage: 943.6+ KB

In [10]:
# convert days_to_visit to float
df['days_to_visit'] = df['days_to_visit'].astype(float)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8626 entries, 0 to 8625
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   OASISID              8626 non-null   object
 1   OASIS_session_label  8626 non-null   object
 2   days_to_visit        8626 non-null   float64
 3   age at visit         8626 non-null   float64
 4   WEIGHT               8626 non-null   float64
 5   HEIGHT               8626 non-null   float64
 6   BPSYS                8626 non-null   float64
 7   BPDIAS               8626 non-null   float64
 8   HRATE                8626 non-null   float64
 9   VISION               8626 non-null   float64
 10  VISCORR              8626 non-null   float64
 11  VISWCORR             8626 non-null   float64
 12  HEARING              8626 non-null   float64
 13  HEARAID              8626 non-null   float64
dtypes: float64(12), object(2)
memory usage: 943.6+ KB

### Taking dx1 column from b4

#### Preprocessing

In [12]:
df2 = pd.read_csv("OASIS3_UDSb4_cdr.csv")

In [13]:
df2.shape

(8626, 23)

##### Checking Skewness

In [14]:
# %matplotlib inline

# import matplotlib.pyplot as plt

# # Your plotting code here

# plt.show()  # Display the plot in the Jupyter Notebook output

In [15]:
# create a new dataframe with only the columns we need
df2 = df2[['OASIS_session_label', 'dx1']]

In [16]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8626 entries, 0 to 8625
Data columns (total 2 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   OASIS_session_label  8626 non-null   object
 1   dx1                  8625 non-null   object
dtypes: object(2)
memory usage: 134.9+ KB

In [17]:
df2.head()

    OASIS_session_label                 dx1
0  OAS30001_UDSb4_d0000  Cognitively normal
1  OAS30001_UDSb4_d0339  Cognitively normal
2  OAS30001_UDSb4_d0722  Cognitively normal
3  OAS30001_UDSb4_d1106  Cognitively normal
4  OAS30001_UDSb4_d1456  Cognitively normal

In [18]:
df.head()

,OASISID,OASIS_session_label,days_to_visit,age at visit,WEIGHT,HEIGHT,BPSYS,BPDIAS,HRATE,VISION,VISCORR,VISWCORR,HEARING,HEARAID
0,OAS30001,OAS30001_UDSb1_d0000,0.0,65.19,999.0,999.0,138.0,70.0,72.0,1.0,1.0,1.0,1.0,0.0
1,OAS30001,OAS30001_UDSb1_d0339,339.0,66.12,155.0,64.0,138.0,72.0,78.0,0.0,1.0,1.0,1.0,0.0
2,OAS30001,OAS30001_UDSb1_d0722,722.0,67.17,162.0,64.0,144.0,80.0,60.0,0.0,1.0,1.0,1.0,0.0
3,OAS30001,OAS30001_UDSb1_d1106,1106.0,68.22,167.0,63.5,130.0,82.0,68.0,0.0,1.0,1.0,1.0,0.0
4,OAS30001,OAS30001_UDSb1_d1456,1456.0,69.18,173.0,63.5,142.0,70.0,72.0,1.0,1.0,1.0,1.0,0.0

##### Merging

In [19]:
# merge the two dataframes, df and df2, on OASIS_session_label based on the first 8 characters and last 5 characters
# Extract the first 8 characters and last 5 characters from 'OASIS_session_label' in both dataframes
df['OASIS_session_label_first8'] = df['OASIS_session_label'].str[:8]
df['OASIS_session_label_last5'] = df['OASIS_session_label'].str[-5:]
df2['OASIS_session_label_first8'] = df2['OASIS_session_label'].str[:8]
df2['OASIS_session_label_last5'] = df2['OASIS_session_label'].str[-5:]

# Merge the dataframes based on the first 8 and last 5 characters
df_final = df.merge(df2, on=['OASIS_session_label_first8', 'OASIS_session_label_last5'], how='inner')

# Drop the temporary columns if needed
df_final.drop(['OASIS_session_label_first8', 'OASIS_session_label_last5'], axis=1, inplace=True)

In [20]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8602 entries, 0 to 8601
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   OASISID                8602 non-null   object
 1   OASIS_session_label_x  8602 non-null   object
 2   days_to_visit          8602 non-null   float64
 3   age at visit           8602 non-null   float64
 4   WEIGHT                 8602 non-null   float64
 5   HEIGHT                 8602 non-null   float64
 6   BPSYS                  8602 non-null   float64
 7   BPDIAS                 8602 non-null   float64
 8   HRATE                  8602 non-null   float64
 9   VISION                 8602 non-null   float64
 10  VISCORR                8602 non-null   float64
 11  VISWCORR               8602 non-null   float64
 12  HEARING                8602 non-null   float64
 13  HEARAID                8602 non-null   float64
 14  OASIS_session_label_y  8602 non-null   object
 15  dx1                    8601 non-null   object
dtypes: float64(12), object(4)
memory usage: 1.1+ MB

In [21]:
df_final.head()

,OASISID,OASIS_session_label_x,days_to_visit,age at visit,WEIGHT,HEIGHT,BPSYS,BPDIAS,HRATE,VISION,VISCORR,VISWCORR,HEARING,HEARAID,OASIS_session_label_y,dx1
0,OAS30001,OAS30001_UDSb1_d0000,0.0,65.19,999.0,999.0,138.0,70.0,72.0,1.0,1.0,1.0,1.0,0.0,OAS30001_UDSb4_d0000,Cognitively normal
1,OAS30001,OAS30001_UDSb1_d0339,339.0,66.12,155.0,64.0,138.0,72.0,78.0,0.0,1.0,1.0,1.0,0.0,OAS30001_UDSb4_d0339,Cognitively normal
2,OAS30001,OAS30001_UDSb1_d0722,722.0,67.17,162.0,64.0,144.0,80.0,60.0,0.0,1.0,1.0,1.0,0.0,OAS30001_UDSb4_d0722,Cognitively normal
3,OAS30001,OAS30001_UDSb1_d1106,1106.0,68.22,167.0,63.5,130.0,82.0,68.0,0.0,1.0,1.0,1.0,0.0,OAS30001_UDSb4_d1106,Cognitively normal
4,OAS30001,OAS30001_UDSb1_d1456,1456.0,69.18,173.0,63.5,142.0,70.0,72.0,1.0,1.0,1.0,1.0,0.0,OAS30001_UDSb4_d1456,Cognitively normal

In [22]:
# store df_final as a csv file
df_final.to_csv('OASIS3_UDSb1_merged.csv', index=False)

In [23]:
# # Import the necessary module
# from ydata_profiling import ProfileReport

# # Create a ProfileReport object
# report = ProfileReport(df)

# # Generate the data profiling report
# report.to_file('merged_report.html')

In [24]:
df_final.drop('OASIS_session_label_x', axis=1, inplace=True)

In [25]:
df_final.drop('OASIS_session_label_y', axis=1, inplace=True)

In [26]:
df_final.drop('OASISID', axis=1, inplace=True)

In [27]:
df_final.head()

,days_to_visit,age at visit,WEIGHT,HEIGHT,BPSYS,BPDIAS,HRATE,VISION,VISCORR,VISWCORR,HEARING,HEARAID,dx1
0,0.0,65.19,999.0,999.0,138.0,70.0,72.0,1.0,1.0,1.0,1.0,0.0,Cognitively normal
1,339.0,66.12,155.0,64.0,138.0,72.0,78.0,0.0,1.0,1.0,1.0,0.0,Cognitively normal
2,722.0,67.17,162.0,64.0,144.0,80.0,60.0,0.0,1.0,1.0,1.0,0.0,Cognitively normal
3,1106.0,68.22,167.0,63.5,130.0,82.0,68.0,0.0,1.0,1.0,1.0,0.0,Cognitively normal
4,1456.0,69.18,173.0,63.5,142.0,70.0,72.0,1.0,1.0,1.0,1.0,0.0,Cognitively normal

In [28]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8602 entries, 0 to 8601
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   days_to_visit  8602 non-null   float64
 1   age at visit   8602 non-null   float64
 2   WEIGHT         8602 non-null   float64
 3   HEIGHT         8602 non-null   float64
 4   BPSYS          8602 non-null   float64
 5   BPDIAS         8602 non-null   float64
 6   HRATE          8602 non-null   float64
 7   VISION         8602 non-null   float64
 8   VISCORR        8602 non-null   float64
 9   VISWCORR       8602 non-null   float64
 10  HEARING        8602 non-null   float64
 11  HEARAID        8602 non-null   float64
 12  dx1            8601 non-null   object
dtypes: float64(12), object(1)
memory usage: 940.8+ KB

##### Encoding

In [29]:
# encode column dx1
from sklearn.preprocessing import LabelEncoder

In [30]:
# split the data into train and test sets
from sklearn.model_selection import train_test_split

x = df_final.drop('dx1', axis=1)
y = df_final['dx1']

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=42)

##### Logistic Regression

In [31]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, confusion_matrix
model = LogisticRegression()
model.fit(x_train, y_train)
predictions = model.predict(x_test)

accuracy = accuracy_score(y_test, predictions)
print(f"Accuracy: {accuracy:.2f}")
conf_matrix = confusion_matrix(y_test, predictions)
print("Confusion Matrix:")
print(conf_matrix)

# log = {'model': 'Logistic Regression', 'accuracy': accuracy}
# csv_logger.log(log)

C:\Users\Ananya\AppData\Roaming\Python\Python311\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

TypeError: '<' not supported between instances of 'float' and 'str'