### UDsb1 Physical Eval

#### Preprocessing

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("OASIS3_UDSb1_physical_eval.csv")

In [3]:
# # Import the necessary module
# from ydata_profiling import ProfileReport

# # Create a ProfileReport object
# report = ProfileReport(df)

# # Generate the data profiling report
# report.to_file('oasis_3_report.html')

In [4]:
df.isnull().sum()

OASISID                   0
OASIS_session_label       0
days_to_visit             0
age at visit              0
WEIGHT                 1003
HEIGHT                 1763
BPSYS                  1027
BPDIAS                 1034
HRATE                  1859
VISION                 1848
VISCORR                1850
VISWCORR               3159
HEARING                1849
HEARAID                1858
HEARWAID               7442
dtype: int64

In [5]:
df.shape

(8626, 15)

In [6]:
df.drop('HEARWAID', axis=1, inplace=True)

In [7]:
# impute the missing values to the mean of the column
df.fillna(df.mean(), inplace=True)

C:\Users\Ananya\AppData\Local\Temp\ipykernel_29192\3216825617.py:2: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.fillna(df.mean(), inplace=True)

In [8]:
df.isnull().sum()

OASISID                0
OASIS_session_label    0
days_to_visit          0
age at visit           0
WEIGHT                 0
HEIGHT                 0
BPSYS                  0
BPDIAS                 0
HRATE                  0
VISION                 0
VISCORR                0
VISWCORR               0
HEARING                0
HEARAID                0
dtype: int64

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8626 entries, 0 to 8625
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   OASISID              8626 non-null   object
 1   OASIS_session_label  8626 non-null   object
 2   days_to_visit        8626 non-null   int64
 3   age at visit         8626 non-null   float64
 4   WEIGHT               8626 non-null   float64
 5   HEIGHT               8626 non-null   float64
 6   BPSYS                8626 non-null   float64
 7   BPDIAS               8626 non-null   float64
 8   HRATE                8626 non-null   float64
 9   VISION               8626 non-null   float64
 10  VISCORR              8626 non-null   float64
 11  VISWCORR             8626 non-null   float64
 12  HEARING              8626 non-null   float64
 13  HEARAID              8626 non-null   float64
dtypes: float64(11), int64(1), object(2)
memory usage: 943.6+ KB

In [10]:
# convert days_to_visit to float
df['days_to_visit'] = df['days_to_visit'].astype(float)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8626 entries, 0 to 8625
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   OASISID              8626 non-null   object
 1   OASIS_session_label  8626 non-null   object
 2   days_to_visit        8626 non-null   float64
 3   age at visit         8626 non-null   float64
 4   WEIGHT               8626 non-null   float64
 5   HEIGHT               8626 non-null   float64
 6   BPSYS                8626 non-null   float64
 7   BPDIAS               8626 non-null   float64
 8   HRATE                8626 non-null   float64
 9   VISION               8626 non-null   float64
 10  VISCORR              8626 non-null   float64
 11  VISWCORR             8626 non-null   float64
 12  HEARING              8626 non-null   float64
 13  HEARAID              8626 non-null   float64
dtypes: float64(12), object(2)
memory usage: 943.6+ KB

### Taking dx1 column from b4

#### Preprocessing

In [12]:
df2 = pd.read_csv("OASIS3_UDSb4_cdr.csv")

In [13]:
df2.shape

(8626, 23)

##### Checking Skewness

In [14]:
# %matplotlib inline

# import matplotlib.pyplot as plt

# # Your plotting code here

# plt.show()  # Display the plot in the Jupyter Notebook output

In [15]:
# create a new dataframe with only the columns we need
df2 = df2[['OASIS_session_label', 'dx1']]

In [16]:
df.head()

,OASISID,OASIS_session_label,days_to_visit,age at visit,WEIGHT,HEIGHT,BPSYS,BPDIAS,HRATE,VISION,VISCORR,VISWCORR,HEARING,HEARAID
0,OAS30001,OAS30001_UDSb1_d0000,0.0,65.19,999.0,999.0,138.0,70.0,72.0,1.0,1.0,1.0,1.0,0.0
1,OAS30001,OAS30001_UDSb1_d0339,339.0,66.12,155.0,64.0,138.0,72.0,78.0,0.0,1.0,1.0,1.0,0.0
2,OAS30001,OAS30001_UDSb1_d0722,722.0,67.17,162.0,64.0,144.0,80.0,60.0,0.0,1.0,1.0,1.0,0.0
3,OAS30001,OAS30001_UDSb1_d1106,1106.0,68.22,167.0,63.5,130.0,82.0,68.0,0.0,1.0,1.0,1.0,0.0
4,OAS30001,OAS30001_UDSb1_d1456,1456.0,69.18,173.0,63.5,142.0,70.0,72.0,1.0,1.0,1.0,1.0,0.0

##### Merging

In [17]:
# merge df and df2 based on last 5 character in OASIS_session_label
df_final = pd.merge(df, df2, left_on='OASIS_session_label', right_on='OASIS_session_label', how='left')

In [18]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8626 entries, 0 to 8625
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   OASISID              8626 non-null   object
 1   OASIS_session_label  8626 non-null   object
 2   days_to_visit        8626 non-null   float64
 3   age at visit         8626 non-null   float64
 4   WEIGHT               8626 non-null   float64
 5   HEIGHT               8626 non-null   float64
 6   BPSYS                8626 non-null   float64
 7   BPDIAS               8626 non-null   float64
 8   HRATE                8626 non-null   float64
 9   VISION               8626 non-null   float64
 10  VISCORR              8626 non-null   float64
 11  VISWCORR             8626 non-null   float64
 12  HEARING              8626 non-null   float64
 13  HEARAID              8626 non-null   float64
 14  dx1                  0 non-null      object
dtypes: float64(12), object(3)
memory usage: 1.1+ MB

In [19]:
df_final.drop('OASISID', axis=1, inplace=True)

In [20]:
df_final.head()

,OASIS_session_label,days_to_visit,age at visit,WEIGHT,HEIGHT,BPSYS,BPDIAS,HRATE,VISION,VISCORR,VISWCORR,HEARING,HEARAID,dx1
0,OAS30001_UDSb1_d0000,0.0,65.19,999.0,999.0,138.0,70.0,72.0,1.0,1.0,1.0,1.0,0.0,NaN
1,OAS30001_UDSb1_d0339,339.0,66.12,155.0,64.0,138.0,72.0,78.0,0.0,1.0,1.0,1.0,0.0,NaN
2,OAS30001_UDSb1_d0722,722.0,67.17,162.0,64.0,144.0,80.0,60.0,0.0,1.0,1.0,1.0,0.0,NaN
3,OAS30001_UDSb1_d1106,1106.0,68.22,167.0,63.5,130.0,82.0,68.0,0.0,1.0,1.0,1.0,0.0,NaN
4,OAS30001_UDSb1_d1456,1456.0,69.18,173.0,63.5,142.0,70.0,72.0,1.0,1.0,1.0,1.0,0.0,NaN

In [21]:
# split the data into train and test sets
from sklearn.model_selection import train_test_split

x = df_final.drop('dx1', axis=1)
y = df_final['dx1']

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=42)